* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Rubik Vinyl', cursive;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
}
button {
  outline: none;
  border: none;
}

.wrapper {
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  margin: 0 auto;
  display: flex;
  height: 100vh;
  width: 100%;
}
.counter {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: #F1F5F8;
  padding: 30px;
  height: auto;
  width: 720px;
}
.title {
  letter-spacing: 6px;
  text-align: center;
  color: #122C43;
  font-size: 60px;
}

.count {
  letter-spacing: 6px;
  text-align: center;
  margin-top: 30px;
  color: #028000;
  font-size: 40px;
}

.buttons {
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  flex-wrap: wrap;
  display: flex;
  width: 100%;
  gap: 15px;
}
.btn {
  background-color: transparent;
  border: 2px solid #4F5051;
  transition: all .3s linear;
  width: fit-content;
  border-radius: 8px;
  cursor: pointer;
  font-size: 30px;
  padding: 0 30px;
  height: 60px;
}
.btn:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}